{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/dots.css') }}"/>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/join.js') }}"></script>
{% endblock %}

{% block body%}
	<div id="waiting" class="d-flex align-items-center justify-content-center">
		<h1>
			En attente
		</h1>
		<div class="col-3 d-flex align-items-center">
			<div class="snippet" data-title=".dot-pulse">
				<div class="stage">
					<div class="dot-pulse"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
