{% extends 'game/base.html.twig' %}

{% block game %}
    <div id="board" class="{{ disabled|default(false) ? 'disabled' : '' }}">
        {% for column in game.getBoardClass().getCells() %}
            <div class="column">
                {% for disc in column | reverse %}
                    {% if disc %}
    {% if  disc.getPlayer().getId() == game.getPlayerOne().getId() %}
        
                        <div class="cell disc yellow"></div>
    {% else %}
                        <div class="cell disc red"></div>
        
    {% endif %}
                    {% else %}
                        <div class="cell empty"></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
{% endblock %}
