{% extends 'game/board.html.twig' %}

{% block statusOne %}
{% if game.getPlayerOne().id == app.session.get('player').id  %}
		Votre tour
{% endif %}
{% endblock %}

{% block statusTwo %}
{% if game.getPlayerTwo().id == app.session.get('player').id  %}
		Votre tour
{% endif %}
{% endblock %}

{% block game %}
		<div id="controls-container">
			{% for i in 0..game.getBoardClass().getCells() | length - 1 %}
				<form action="{{ path('dropDisc', { 'id': game.id, 'column': i,'player':playerID}) }}" class="dropDisc" method="post">
					<button class="fs-1" type="submit">V</button>
				</form>
			{% endfor %}
			<div class="clearfix"></div>
		</div>

		{{ parent() }}
{% endblock %}

