.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.logo {
    height: 20em;
    margin-bottom: 20px;
    background-image: url("/assets/img/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#register form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#register form div {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

#register input {
    border-radius: 10px;
    width: 16em;
}

#mode-choice,#mode-custom {
    display: flex;
    justify-content: center;
}

#mode-choice button:nth-child(1){
    margin-right: 20px;
}

.switch-button{
    margin-bottom: 20px;
    height: 44px;
    width: 44px;
    border: none;
    background-color: transparent;
    background-image: url('/assets/img/button_switch.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#mode-custom {
    align-items: center;
}

.snippet {
    position: relative;
    background: #fff;
    padding: 2rem 5%;
    margin: 1.5rem 0;
    box-shadow: 0 .4rem .8rem -.1rem rgba(0, 32, 128, .1), 0 0 0 1px #f0f2f7;
    border-radius: .25rem;
  }

  .examples .snippet:before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5px;
    content: attr(data-title);
    font-size: .75rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: white;
    background-color: rgb(255, 25, 100);
    border-radius: .25rem 0 .25rem 0;
  }

  .stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
    margin: 0 -5%;
    overflow: hidden;
  }